// .login{
//     min-height: 400px;
//     width: 100%;
//     .form{
//         margin-top: 50px;
//     }
// }
@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }