.news{
    min-height: 250px;
    text-align: center;
    background-image: url(./file.gif);
    background-repeat: initial;
    h3{
        padding: 15px;
        width: 100%;
        margin-top: 5px;
        text-align: center;
        color: #000;
    }
    h4{
        margin-top: 50px;
    }
}