.header{
    height: 35px;
    width: 100%;
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    // margin-top: -16px;
    ul{
        list-style: none;
        li{
            float: left;
            padding: 5px;
            text-align: center;
            a{
                text-decoration: none;
                color: #fff;
            }
            
        }
    }
}
.header ul li a:hover{
    color: rgb(209, 214, 147);
}
.footer{
    height: 100px;
    width: 100%;
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          
}